multi_modal_model {
  fact_model {
    modality: {
      feature_name: "audio"
      sequence_length: 240
      model: {
        transformer: {
          num_attention_heads: 10
          hidden_size: 800
          num_hidden_layers: 2
        }
      }
    }
    modality: {
      feature_name: "motion"
      sequence_length: 120
      feature_dim: 225
      model: {
        transformer: {
          num_attention_heads: 10
          hidden_size: 800
          num_hidden_layers: 2
        }
      }
    }
    fk_path: "/mnt/data/smpl/SMPL_MALE.pkl"
    cross_modal_model: {
      modality_a: "motion"
      modality_b: "audio"
      transformer: {
        num_hidden_layers: 12
        hidden_size: 800
        num_attention_heads: 10
      }
      output_layer: {
        out_dim: 225
      }
    }
  }
}

train_dataset {
  name: "train"
  input_length_sec: 120.0
  target_length_sec: 20
  target_shift_sec: 120
  modality: {
    general_modality: {
      feature_name: "motion"
      # Original dim 219, after padding 6 translation, 225
      dimension: 219
      # fake sampling rate
      sample_rate: 1
    }
  }
  modality: {
    general_modality: {
      feature_name: "audio"
      dimension: 35
      # fake sampling rate
      sample_rate: 2
    }
  }
  data_augmentation_options {
    fact_preprocessor: {
    }
  }
  # data_files: "/mnt/data/tf_sstables/aist_generation_train_v2_tfrecord*"
  data_files: "./data/*_tfrecord-train*"
}

eval_dataset {
  name: "val"
  input_length_sec: 120.0
  target_length_sec: 20
  target_shift_sec: 120
  modality: {
    general_modality: {
      feature_name: "motion"
      dimension: 219
      # not the real sampling rate
      sample_rate: 1
    }
  }
  modality: {
    general_modality: {
      feature_name: "audio"
      dimension: 35
      # not the real sampling rate
      sample_rate: 2
    }
  }
  # data_files: "/mnt/data/tf_sstables/aist_generation_val_v2_tfrecord*"
  data_files: "./data/*_tfrecord-testval*"
  data_augmentation_options {
    fact_preprocessor: {
    }
  }
}

train_config: {
  batch_size: 32
  learning_rate: {
    manual_step_learning_rate {
      initial_learning_rate: 1e-4
      schedule {
       step: 100000
       learning_rate: 1e-5
      }
      schedule {
        step: 150000
        learning_rate: 1e-6
      }
    }
  }
}

eval_config: {
  batch_size: 1
}
